.header {
    background-color: #c4c4c4;
}
.header__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #c6c6c6;
    margin-bottom: rem(26px);
    padding: 10px;

}

.header__left {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__right {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    .logo__link {
        display: block;
        width: 60px;
        height: 60px;
        // border: 1px solid black;
        .logo__img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}
.nav {
    display: flex;
    width: 70%;
    .nav__menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.nav__menu-link {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #fff;
    background-color: #000;
    &:link,
    &:visited {
        color: #fff;
    }
    &:hover {
        background-color: rgba(#000, .7);
        color: rgba(#fff, .7);
    }
}

#showAuthPopup,
#user__auth-logout{
    background-color: #ff5252;
    color: #fff;
    cursor: pointer;;
}
#user__auth-logout {
    display: block;
    text-align: center;
    width: 80px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        text-decoration: underline;
    }
}
#user__auth-link {
    display: inline-block;
    width: 80px;
    text-decoration: none;
    color: #5583FF;
    text-align: center;
}
.content__wrapper .main__title {
        text-align: center;
        width: 70%;
        color: #000;
}

//> popup
.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.popup {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    background-color: #ff9d93;
    color: #000;
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}
//< popup

//AUTH
.popup__auth {
    padding: 10px;
    // display: none;
}
.popup__title {
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.form__label {
    // width: 100%;
    display: block;
}
.form__input {
    margin-bottom: 10px;
    display: block;
}
.popup__or {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.popup__title-link {
    text-align: center;
    cursor: pointer;
    color: #000;
    &:hover {
        text-decoration: underline;
        color: #ffff00;
    }
}
#emailMsg_auth,
#emailMsg_reg {
    display: block;
    margin-top: 3px;
}
.error {
    background-color: #fc6363;
}
.valid {
    background-color: #81e569;
}

    #auth,
#register {
    cursor: pointer;
    background-color: #ff9b11;
    color: #000;
}

//REG
.popup__reg {
    display: none;
}

//Form_user
.form__user {
    width: 60%;
    display:flex;
    flex-direction: column;
}
.form__user-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:15px;
}